@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

* { 
	font-family: 'Nanum Gothic'; 
}

h1 { 
	font-family: 'Hanna'; 
}

a, a:hover {
	color: #000000;
	text-decoration: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}


